.tickets-list {
  &__item {
    margin-bottom: 12px;
  }
}

.ticket {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  &__content {
    padding: 40px 40px 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1170px) {
      padding: 40px 20px 20px;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }
  &__price {
    width: 30%;
    background: #F5F5F5;
    padding: 15px 20px;
    text-align: center; 
    @media (max-width: 700px) {
      width: 100%;
    }   
  }
  &__button {
    width: 100%;
    @media (max-width: 700px) {
      width: 200px;
    }  
  }
  &__info {
    display: flex;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
  &__details {
    font-size: 12px;
    margin-top: 20px;
    @media (max-width: 480px) {     
      text-align: center;
    }
  }
  &__link {
    margin-right: 23px;
    color: #7284E4;
    text-decoration: none;
    border-bottom: 1px dashed;
    @media (max-width: 480px) {     
      margin-bottom: 20px;
      display: inline-block;
    }
    &:hover {
      opacity: .8;
    }
  }
}

.price {
  font-size: 24px;
  line-height: 28px;
  color: #202123;
  margin-bottom: 12px;
}

.price-info {
  color: #707276;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 0 12px;
}

.baggage-info {
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  .btn {
    margin-left: 5px;
  }
}

.carrier {
  display: flex;
  width: 20%; 
  align-items: center;
  @media (max-width: 1024px) {
    width: 40px;
  }
  @media (max-width: 480px) {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__logo {
    margin-right: 15px;
    img {
      width: 20px;
    }
  }
  &__title {
    font-size: 14px;
    @media (max-width: 1024px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }
}

.flight {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 0 45px 0 30px;
  align-items: center;
  @media (max-width: 1170px) {
    padding: 0 25px 0 20px;
  }
  @media (max-width: 1024px) {
    width: calc(100% - 40px)
  }
  @media (max-width: 640px) {
    padding: 0;
  }
  @media (max-width: 480px) {
    flex-wrap: wrap;
    width: 100%;
  }
  &__datetime {
    font-size: 24px;
    line-height: 33px;
    color: #202123;
    font-weight: 600;
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      font-weight: normal;
      display: block;
      @media (max-width: 480px) {
        display: inline-block;
        line-height: 33px;
        vertical-align: middle
      }
    }
    span.diff-days {
      display: inline;
      color: rgba(255, 55, 36, 0.8);
      font-size: 10px;
      position: relative;
      top: -2px;
    }
  }
  &__itinerary {
    text-align: center;
    width: 165px;
    @media (max-width: 480px) {
      width: 100%;
      margin: 20px auto;
    }
  }
  &__info {
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
    align-items: center;
  }
  &__duration {
    color: #202123;
    font-size: 12px;
  }
  .airport-name {
    text-transform: uppercase;
    color: #B9B9B9;
    font-size: 10px;
    line-height: 12px;
  }
  &__line {
    width: 165px;
    height: 1px;
    background: #B9B9B9;
    position: relative;
    margin-bottom: 5px;
    @media (max-width: 480px) {
      width: 100%;
    }
    &::before, &::after, span {
      width: 5px;
      height: 5px;
      display: block;
      position: absolute;
      border-radius: 8px;
      border: 1px solid #B9B9B9;      
      top: -2.5px;
      background: #fff;
    }
    &::before, &::after {
      content: "";
    }
    &::before {
      left: -2.5px;
    }
    &::after {
      right: -2.5px;
    }
    span {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__transfer {
    color: #FF9900;
    font-size: 12px;
    line-height: 14px;
    span.green {
      color: #47AC50;
    }
  }
}

.not-found {
  text-align: center;
}

.non-refund {
  color: #707276;
  white-space: nowrap;
  img {
    vertical-align: bottom;
    margin-right: 5px;
  }
}